@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<br />
<br />
<h1>Yaca - yet another chat(ish) application</h1>
<br />
<br />
<br />
<ul>
    <li><h4>@Html.ActionLink("Login", "Index", "Login")</h4><br /><br /></li>
    <li><h4>@Html.ActionLink("Signup", "Index", "Signup")</h4><br /><br /></li>
    <li>
        <h4>@Html.ActionLink("Read Messages", "Index", "Messages")</h4>
        <br />
        <br />
    </li>
    @*<li>@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ })</li>*@
</ul>
